<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../img/favicon.ico">
    <script src="/js/home.js"></script>
    <title>E&D Moving</title>
</head>

<body>
<header th:insert="~{blocks/header :: header}" ></header>
<main>
    <section class="search d-flex">
        <div class="search-wrapper limit">
            <div class="selection-text">
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <h1 th:text="${siteView.getMainText()}+${#authentication.name}"></h1>
                </div>
                <div th:if="${#authorization.expression('isAnonymous()')}">
                    <h1>BEST MOVING COMPANIES IN AMERICA</h1>
                </div>
            </div>
            <div class="selection d-flex limit">
                <input type="text" placeholder="What are you looking for" required>
                <select name="category" id="category" required>
                    <option value="" disabled selected hidden>Select a category</option>
                    <option th:each="movingSize:${movingSizes}" th:value="${movingSize}">
                        <th:block th:text="${movingSize.getName()}"></th:block>
                    </option>
                </select>
                <select name="location" id="location" required>
                    <option value="" disabled selected hidden>Select a category</option>
                    <option th:each="state:${states}" th:value="${state}">
                        <th:block th:text="${state.getName()}"></th:block>
                    </option>
                </select>
                <button type="submit" id="search-submit-button">Search Moving Companies</button>
            </div>
        </div>
    </section>

    <section class="statistics">
        <div class="limit">
            <div class="stat-items flex-between d-flex swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="stat-item">
                            <h3 th:text="${siteView.getLocationsStat()}"></h3>
                            <p>LOCATIONS</p>
                            <div class="divider">/</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stat-item">
                            <h3 th:text="${siteView.getMovingCompanyStat()}"></h3>
                            <p>MOVING COMPANIES</p>
                            <div class="divider">/</div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="stat-item">
                            <h3 th:text="${siteView.getReviewsStat()}"></h3>
                            <p>REVIEWS</p>
                            <div class="divider">/</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="stat-item">
                            <h3 th:text="${siteView.getSatisfiedCustomersStat()}"></h3>
                            <p>SATISFIED CUSTOMERS</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="top-list">
        <div class="limit">
            <div class="sort d-flex text-center">
                <div class="top-list-header d-flex">
                    <h2 class="section-header-label">Top Moving Companies</h2>
                    <a href="#">See all</a>
                </div>
                <div class="sort-select d-flex">
                    <select name="service" id="service" required>
                        <option value="" disabled selected hidden>Service</option>
                        <option value="move">move</option>
                    </select>
                    <select name="sort-by" id="sort-by" required>
                        <option value="" disabled selected hidden>Sort by</option>
                        <option value="name">Name</option>
                    </select>
                </div>
            </div>

            <div class="company-list">
                <tr th:each="company:${allActiveCompanies}">
                    <div class="company-list-el">
                        <div class="logo align-center d-flex">
                            <img th:src="@{/images/{id}(id=${company.getPreviewImageId()})}" height="150px" width="150px" style="object-fit: contain" alt="Company Image">
                            <div class="rating d-flex ">
                                <h3 th:text="${company.getName()}"></h3>
                                <span th:text="${company.getRating()}"></span>
                            </div>
                        </div>
                        <div class="section-divider"></div>
                        <div class="company-list-el-info">
                            <div class="location d-flex">
                                <img src="/img/location marker.svg" alt="">
                                <h5 th:text="${company.getAddress().getName()}"></h5>
                            </div>
                            <div class="location d-flex">
                                <img src="/img/Call.svg" alt="">
                                <p th:text="${company.getPhoneNumber()}"></p>
                            </div>
                            <div class="d-flex">
                                <a href="#" style="color: #06965C;">Local movers</a>
                                <a href="#" style="color: #06965C;">Services +5</a>
                            </div>
                            <div class="d-flex admin-company-edit">
                                <form th:if="${company.getUserNameById() == #authentication.getName()}" th:action="@{/delete_company}" method="post">
                                    <input th:value="${company.getId()}" type="number" hidden="hidden"
                                           name="companyId"/>
                                    <td>
                                        <input type="submit" class="btn btn-outline-success" value="Delete"/>
                                    </td>
                                </form>
                                <form th:if="${company.getUserNameById() == #authentication.getName()}" th:action="@{/updateCompany}" method="get">
                                    <input th:value="${company.getId()}" type="number" hidden="hidden"
                                           name="companyId"/>
                                    <td>
                                        <input type="submit" class="btn btn-outline-success" value="Update"/>
                                    </td>
                                </form>
                            </div>
                        </div>

                    </div>
                </tr>
            </div>
            <button class="show-more">Show More</button>
            <span class="has-more" style="display: none" th:text="${hasMore}"></span>
        </div>
        <script>

        </script>
    </section>


    <section class="moving-services">
        <div class="limit">
            <div class="section-header">
                <div class="header-left">
                    <h2 class="section-header-label">Moving Services</h2>
                </div>
                <div class="arrows d-flex">
                    <div class="arrow d-flex service-prev"><img src="../img/prevButton.svg" alt=""></div>
                    <div class="arrow d-flex service-next"><img src="../img/nextButton.svg" alt=""></div>
                </div>
            </div>


            <div class="service-types d-flex flex-wrap swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-type d-flex">
                            <img src="/img/local-movers.svg" alt="">
                            <h4>Local Movers</h4>
                            <h6>(19) listings</h6>
                            <br>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-type d-flex">
                            <img src="/img/local-movers.svg" alt="">
                            <h4>Local Movers</h4>
                            <h6>(19) listings</h6>
                            <br>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-type d-flex">
                            <img src="/img/local-movers.svg" alt="">
                            <h4>Local Movers</h4>
                            <h6>(19) listings</h6>
                            <br>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-type d-flex">
                            <img src="/img/local-movers.svg" alt="">
                            <h4>Local Movers</h4>
                            <h6>(19) listings</h6>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="location-list">
        <div class="limit">
            <div class="locations swiper" style="padding: 5%">
                <div class="text-center">
                    <h2 class="section-header-label">Find Your Movers in Locations</h2>
                    <br><br>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="mover-list">
                            <li><a href="#">San Francisco</a> (17)</li>
                            <li><a href="#">Oakland</a>(14)</li>
                            <li><a href="#">San Jose</a>(15)</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="mover-list">
                            <li><a href="#">San Diego</a>(12)</li>
                            <li><a href="#">Los Angeles</a>(13)</li>
                            <li><a href="#">Ontario</a>(10)</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="mover-list">
                            <li><a href="#">San Francisco</a> (17)</li>
                            <li><a href="#">Oakland</a>(14)</li>
                            <li><a href="#">San Jose</a>(15)</li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="mover-list">
                            <li><a href="#">San Diego</a>(12)</li>
                            <li><a href="#">Los Angeles</a>(13)</li>
                            <li><a href="#">Ontario</a>(10)</li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-button-prev location-prev"><img src="../img/prevButton.svg" alt=""></div>
                <div class="swiper-button-next location-next"><img src="../img/nextButton.svg" alt=""></div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="limit">
            <div class="section-header">
                <div class="header-left d-flex">
                    <h2 class="section-header-label">Latest Reviews</h2>
                    <a href="#" class="see-all">See all</a>
                </div>
                <div class="arrows d-flex">
                    <div class="arrow d-flex prev"><img src="../img/prevButton.svg" alt=""></div>
                    <div class="arrow d-flex next"><img src="../img/nextButton.svg" alt=""></div>
                </div>
            </div>
            <div class="swiper review-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-logo align-center d-flex">
                                <img src="../img/review-logo.svg" alt="">
                                <div class="rating d-flex ">
                                    <h3>California Movers USA</h3>
                                    <span>4.9</span>
                                </div>
                            </div>
                            <div class="section-divider"></div>
                            <div class="review-comment d-flex">
                                <img src="../img/review-quote.svg" alt="">
                                <div class="review-comment-text">
                                    Andrew did a fantastic job with our move. Went above and beyond in helping us
                                    assemble
                                    our furniture and helping place everything in the desired rooms. He even made
                                    sure to
                                    say hello to our dog. Will be letting our friends of the great service and
                                    recommending!!!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-logo align-center d-flex">
                                <img src="../img/review-logo.svg" alt="">
                                <div class="rating d-flex ">
                                    <h3>California Movers USA</h3>
                                    <span>4.9</span>
                                </div>
                            </div>
                            <div class="section-divider"></div>
                            <div class="review-comment d-flex">
                                <img src="../img/review-quote.svg" alt="">
                                <div class="review-comment-text">
                                    Andrew did a fantastic job with our move. Went above and beyond in helping us
                                    assemble
                                    our furniture and helping place everything in the desired rooms. He even made
                                    sure to
                                    say hello to our dog. Will be letting our friends of the great service and
                                    recommending!!!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-swiper-pagination pagination-wrapper"></div>
            </div>

        </div>
    </section>

    <section id="tipsAndTricks" class="tips-section">
        <div class="limit">
            <div class="section-header d-flex">
                <div class="header-left">
                    <h2 class="section-header-label">Moving Tips & Tricks</h2>
                    <a href="#" class="see-all">See all</a>
                </div>
                <div class="arrows d-flex">
                    <div class="arrow d-flex tips-prev"><img src="../img/prevButton.svg" alt=""></div>
                    <div class="arrow d-flex tips-next"><img src="../img/nextButton.svg" alt=""></div>
                </div>
            </div>
            <div class="cards d-flex flex-wrap justify-between swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card d-flex">
                            <img src="/img/review-logo.svg" alt="Moving Image">
                            <div class="card-content">
                                <h2 class="card-title">Moving Pricing</h2>
                                <div class="separator"></div>
                                <p th:text="${siteView.getMovingTipsAndTricks1()}" class="card-description"></p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card d-flex">
                            <img src="../img/review-logo.svg" alt="Moving Image">
                            <div class="card-content">
                                <h2 class="card-title">Moving Pricing</h2>
                                <div class="separator"></div>
                                <p th:text="${siteView.getMovingTipsAndTricks2()}" class="card-description"></p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tips-swiper-pagination pagination-wrapper"></div>
            </div>
        </div>
    </section>

    <section id="services" class="rating-and-review">
        <div class="limit">
            <h2 class="section-header-label">Moving Companies Ratings and Reviews</h2>
            <div class="rating__top">
                <div class="rating__text d-flex">
                    <article>

                        <p th:text="${siteView.getMovingCompaniesRatingsAndReviews()}"></p>
                        <br>
                    </article>
                    <div class="article-background">
                        <img src="/img/article-img.png" alt="">
                    </div>
                </div>

            </div>
            <div class="service-explain">

                <h3>What is a Moving Service?</h3>
                <br>

                <p th:text="${siteView.getWhatIsAMovingService()}"></p>
                <br>
                <p>The best moving companies in California will be:</p>
                <br>
                <ul>
                    <li><span>Full-service movers</span></li>
                    <li>Fully licensed and insured</li>
                    <li>Will have vehicles of all sizes</li>
                    <li>Will carry out background check for all employees</li>
                    <li>Offer both local and long distance moves</li>
                    <li>Will offer storage facilities</li>
                </ul>
                <select name="More-info" id="more-info" required>
                    <option value="" disabled selected hidden style="color: black;">More info</option>
                    <option value="move">move</option>
                </select>
            </div>
        </div>
    </section>

    <section class="search-section">
        <div class="limit">
            <div class="text-center">
                <h1>100% Free Moving Quotes</h1>
                <p>Compare Top Movers and Save Money!</p>
            </div>
            <div class="selection d-flex ">
                <input type="text" placeholder="What are you looking for" required>
                <select name="category" id="category" required>
                    <option value="" disabled selected hidden>Select a category</option>
                    <option value="goods">Goods</option>
                </select>
                <select name="location" id="location" required>
                    <option value="" disabled selected hidden>Choose loaction</option>
                    <option value="bishkek">Bishkek</option>
                </select>
                <button type="submit" id="search-submit-button">Search Moving Companies</button>
            </div>
        </div>
    </section>
</main>
<header th:insert="~{blocks/footer :: footer}"></header>

</body>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/home.js"></script>
</html>