<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>A1 Fast Moving</title>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<main>
    <div class="align-center reg-page">
        <div class="form__container">
            <div class="text-center">
                <h1>Registration</h1>
            </div>

            <!-- Form for user registration -->
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="registration">
                    <!-- Username field -->
                    <div class="reg text-center">
                        <label class="form-label" for="form3Example1cg">Login</label>
                        <br>
                        <input th:field="*{username}" type="text" maxlength="20" autofocus required
                               id="form3Example1cg" class="form-control form-control-lg"/>
                        <div  th:if="${loginError} != null">
                            <div class="alert alert-danger">Login is empty or already used</div>
                        </div>
                    </div>

                    <!-- Email field -->
                    <div class="reg text-center">
                        <label >E-mail <span style="color: red;">*</span></label>
                        <br>
                        <input th:field="*{email}" type="email" placeholder="example@gmail.com" required/>
                        <div  th:if="${emailError} != null">
                            <div class="alert alert-danger">Email is empty or incorrect email</div>
                        </div>
                    </div>

                    <!-- Password field -->
                    <div class="reg text-center">
                        <label >Password <span style="color: red;">*</span></label>
                        <br>
                        <input th:field="*{password}" type="password" placeholder="Create password" minlength="8" maxlength="30" required/>
                        <div  th:if="${passwordError} != null">
                            <div class="alert alert-danger">Password is empty or short</div>
                        </div>
                    </div>
                </div>

                <!-- Privacy and terms checkboxes -->
                <div class="privacy d-flex">
                    <label><input type="checkbox" name="privacy" id="privacy" required> I agree to the <span style="color: red;">privacy and policy</span></label>
                    <label><input type="checkbox" name="terms" id="terms" required> I agree with all <span style="color: red;">Terms & Conditions</span></label>
                </div>

                <!-- Sign up button -->
                <div class="signup d-flex flex-column">
                    <button type="submit">Sign up</button>
                    <span>Already have an account? <a th:href="@{/login}" style="color: #06965C;">Please login Here</a></span>
                </div>
            </form>
        </div>

    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>
