<div th:fragment="header">
  <header>
    <div class="wrapper-top">
      <div class="limit">
        <div class="d-flex header-top info">
          <p>Best California Moving Companies</p>
          <div class="contact">
            <p class="questions">Any questions?</p>
            <a href="#">Contact us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="limit">
        <div class="d-flex ">
          <div class="header-logo d-flex">
            <img src="images/logo.svg" alt="">
            <a href="#" id="logo-text">A1 FAST MOVING</a>
          </div>
          <div class="header-nav">
            <ul class="d-flex nav-flex">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Location</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Tips & Tricks</a>
              </li>
            </ul>
          </div>
          <div class="header-auth">
            <div class="d-flex auth-container">
              <div class="log-but">
                <a href="#">Log in</a>
              </div>
              <div class="add-company">
                <a href="#"><span style="color: #06965C;">+ </span>Add Company</a>
              </div>
              <div class="get-quote">
                <a href="#">Get quote</a>
              </div>
              <div class="searchbar">
                <img class="search-icon" src="images/searchbar.svg" alt="">
                <img class="burger-menu" src="/images/burger-menu.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
</div>
